{% load i18n %}{% load url from future %}

<form method="post" action="{% url "blinks.views.add" %}" style="display:none;" class="add-blink-form">
  {% csrf_token %}
  <input type="hidden" name="path" value="{{ path }}" />
  <input type="hidden" name="title" value="" />
</form>
<a class="add-blink-link" href="#">{% trans "Add bookmark" %}</a>

<script>
(function($) {
  var $form,
      $link = $('.add-blink-link');

  $link.click(function(e) {
    $form = $link.siblings('.add-blink-form');
    $form.find('[name=title]').val(document.title);
    $form.submit();
    e.preventDefault();
  });
})(jQuery);
</script>
